body {
    color: $color--white;
    background-color: $bg;
}
h1 {
    text-align: center;
}
img {
    max-width: 100%;
}

#loading {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 4rem;
}
