.show {
    display: block;
}
.hide {
    display: none;
}
.disable {
    opacity: 0.5;

    cursor: unset;
    &:focus {
        outline: 0;
    }
}

.error {
    color: red;
    font-weight: bold;
}

.loader {
    background-image: url('../../assets/loading.svg');

    background-position: 50% 50%;
}

.aspect1to1 {
    aspect-ratio: 1/1;
    object-fit: cover;
}
