.show {
    display: block;
}
.hide {
    display: none;
}

.error {
    color: red;
    font-weight: bold;
}

.loader {
    background-image: url('../../assets/loading.svg');

    background-position: 50% 50%;
}
