//Colors
$color--white: rgb(228, 224, 224);
$color--orange: rgb(201, 117, 21);
$bg: rgb(39, 39, 39);

//Spacing
$space-4: 0.25rem;
$space-8: 0.5rem;
$space-16: 1rem;
$space-24: 1.5rem;
$space-36: 2rem;
$space-72: 4rem;
